body {
    font-family: 'Times New Roman', Times, serif;


}

.card-body{
    background-color: lightgrey;
}
.btn{
    background-color: #009999;
    color: white;
}
.carousel-inner{
    height: 60%;
    }
.scrollToTopBtn {
        background-color: black;
        border: none;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        font-size: 16px;
        line-height: 48px;
        width: 48px;
        
        /* place it at the bottom right corner */
        position: fixed;
        bottom: 30px;
        right: 30px;
        /* keep it at the top of everything else */
        z-index: 100;
        /* hide with opacity */
        opacity: 0;
        /* also add a translate effect */
        transform: translateY(100px);
        /* and a transition */
        transition: all .5s ease
    }
          
.showBtn {
        opacity: 1;
        transform: translateY(0);
      }

      .clock {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: #17D4FE;
        font-size: 60px;
        font-family: Orbitron;
        letter-spacing: 7px;
       
    
    
    }